<div class="container search_tag">
 <div class="row my-4 mx-1 text-white">
   <h5>タグで検索</h5>
   <p>
    <% tags.each do |tag| %>

     <%= button_to tag.name, search_tag_path(tag_id: tag.id), class: "btn btn-outline-light rounded-pill btn-sm" %>
     (<%= tag.posts.count %>)</br>
     <% end %>

    </p>
 </div><!--row-->
</div>