<div class="container search_tag">
 <div class="row my-4 mx-1 text-white">
   <h5>タグで検索</h5>
   <p>
    <% tags.each do |tag| %>

     <%= link_to search_tag_path(tag_id: tag.id), class: "btn btn-outline-light rounded-pill btn-sm my-1" do %>
     <%= tag.name %>
     (<%= tag.posts.count %>)</br>
     <% end %>
     <% end %>

    </p>
 </div><!--row-->
</div>