<div class="container-breakpoint bg-light" style="height: 33rem;" >
  <div class="row">
    <div class="col-7 mx-auto bg-white text-center">
      <h4 class=" p-4 border-bottom border-5">このサイトについて</h4>
       <P class="px-4 my-3">車の整備やカスタムを共有できるコミュニティサイトです。</P>

       <div class="py-5 px-4 ">
         愛車の整備は好きですか？</br>
         愛車のカスタムは好きですか？</br>
         あなたの愛車の整備の記録を他者と共有できるのがこのCarLife.</br>
         あなたが今思い描いているそのカスタム、すでに誰かが実現しているかもしれません。</br>
         どの商品を使ったの？どこのサイトを参考にしたの？どこまでの作業なら自分でできる？</br>
         愛車の整備をする上で尽きないその疑問、このCarLife.で解決しましょう。</br>
       </div>
    </div><!--col-12-->
  </div><!--row-->
</div><!--container-->