
<h1>作業タイトル</h1>
 <p>
   <%= @post.title %>
 </p>

<h3>作業工程</h3>

<h3>参考にしたサイトURL</h3>
 <p>
   <%= @post.reference_site %>
 </p>

<h3>使用した商品</h3>
 <p>
   <%= @post.products_used %>
 </p>

 <%= link_to "削除", post_path(@post.id), method: :delete %>
